*,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-color: #fefefe;
  color: #222;
  overflow-x: hidden;
}

html,
html ::before,
html ::after {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.5;
  padding: 0 1.5rem 2rem;
  margin: 0 auto;
  max-width: 50em;
}

body > details {
  padding: 1rem 0;
}

section {
  margin-bottom: 3rem;
}

h1 a:link, h1 a:visited {
  color: navy;
}

h1 {
  line-height: 1.3;
}

button,
summary {
  cursor: pointer;
}

/* Code examples. */
.html-example,
.script-example {
  display: block;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin-top: 1rem;
  overflow-x: auto;
  position: relative;
  white-space: pre;
}

.script-example script {
  display: block;
}

.html-example {
  padding: 3rem 1rem 1rem;
}

.script-example {
  padding: 1rem 1rem 0;
}

.html-example::before,
.script-example::before {
  display: block;
  font-size: 1rem;
  margin-top: .75rem;
  position: absolute;
  top: 0;
}

.html-example::before {
  content: "HTML";
}

.script-example::before {
  content: "Script";
}

pre {
  overflow-x: auto;
}

/* General map styles. */
div.m4h-map {
  position: relative !important;
}

iframe,
div.m4h-map {
  background-color: #f6f6f6;
}

div.m4h-map {
  width: 600px;
  height: 450px;
}

div.m4h-map:not(.static) {
  contain: strict;
}

canvas,
iframe,
div.m4h-map {
  max-width: 100%;
  border: none;
  border-radius: 2px;
}

.map-external-links {
  text-align: center;
  width: 100%;
  padding: 6px 0;
  max-width: 600px;
}

@media (max-width: 429px) {
  canvas,
  iframe,
  div.m4h-map {
    max-height: 275px;
    height: 275px;
  }
}

/* Static maps. */
div.m4h-map.static {
  height: auto;
  max-height: unset;
  margin-top: 1rem;
  background-color: unset;
}

img.static-map {
  width: 100%;
  border-radius: 2px;
}

img.static-streetview {
  position: absolute;
  bottom: 7.5%;
  left: 2.5%;
  max-width: 30%;
  border: 4px solid #bbb;
  border-radius: 4px;
}

/* Bing Maps API. */
#bing-maps-api #labelCanvasId,
#bing-maps-api [id*="Microsoft.Maps"] {
  max-height: none;
  max-width: none;
}

.MicrosoftMap .ms-composite {
  width: 100%;
  height: 100%;
}

.MicrosoftMap .NavBar_MapTypeButtonDropDownIcon {
  box-sizing: initial;
}

.MicrosoftMap .NavBar_MapTypeButtonIcon {
  margin-left: 5px;
}

/* D3 Geographies APIs. */
#d3-geo-map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.d3-background {
  width: 100%;
  height: 100%;
  stroke: #eaeaea;
  fill: #f0f9f9;
}

#d3-geo-map button {
  position: relative;
  z-index: 1;
  display: block;
  margin-left: .5rem;
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

#d3-geo-map button:first-of-type {
  margin-top: .5rem;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

#d3-geo-map button:last-of-type {
  border-top: 0px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-top: 2px;
}

/* Styles specific to certain examples. */
svg .country {
  fill: #f0be86;
  stroke: #2e2e2e;
}

.amenity,
.building {
  fill: #ffe5cd;
  fill-opacity: 1;
  stroke: #684d32;
}

.highway,
.highway--cycleway,
.highway--footway,
.highway--path,
.highway--pedestrian,
.highway--primary,
.highway--secondary,
.highway--service,
.highway--steps,
.highway--track,
.highway--unclassified,
.highway--primary {
  stroke: #858585;
  fill-opacity: 0;
}

.railway {
  stroke: #858585;
  fill-opacity: 0;
}

.waterway,
.waterway--ditch,
.waterway--river,
.waterway--drain {
  stroke: #10359c;
  fill-opacity: 0;
}

.landuse {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: #2e2e2e;
}

.natural--grassland,
.natural--scrub,
.natural--wood,
.natural--sand,
.landuse--allotments,
.landuse--grass,
.landuse--meadow,
.landuse--farmland,
.landuse--forest,
.landuse--vineyard,
.landuse--plant_nursery,
.leisure--pitch,
.leisure--garden,
.leisure--park,
.leisure--stadium {
  fill: #beeebf;
}

.natural--water,
.natural--wetland {
  fill: #0074D9;
}

.leisure,
.leisure--sports_centre,
.leisure--swimming_pool,
.landuse--residential,
.landuse--construction,
.landuse--farmyard,
.amenity--hospital{
  fill: #cccccc;
  fill-opacity: 1;
  stroke: #2e2e2e;
}

.amenity--bicycle_parking,
.amenity--parking {
  fill: #ccc;
}

.landuse--industrial {
  fill: #e3e3e3;
}

.public_transport--platform {
  fill: #cccacd;
}

.barrier--fence,
.barrier--hedge,
.barrier--wall {
  fill-opacity: 0;
  stroke: #333;
}

.boundary--administrative {
  stroke-dasharray: 8px;
  stroke-width: 2px;
  stroke: #cc0000;
  fill-opacity: 0;
}

.border_type--nation {
  fill-opacity: 0;
  stroke: #ff0000;
  stroke-width: 4;
  stroke-dasharray: 24px;
}

svg .marker {
  fill: #ff00ff;
  stroke: #000;
  stroke-width: 2;
}

svg .overlay.parish {
  fill: rgb(60,59,255);
  fill-opacity: 0.8;
  stroke: rgb(40,39,101);
}

.animate-view-change {
  max-width: 600px;
}

.animate-view-change > details {
  margin-bottom: 1rem;
}

.animate-view-change > details li {
  padding: .2rem 0;
}

.animate-view-change .button-animate {
  display: block;
  width: 100%;
  font: inherit;
  margin-bottom: .5rem;
}

.animate-view-zoom > ul {
  list-style: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  max-width: 600px;
}

.animate-view-zoom > ul a {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

.animate-view-zoom [data-type="bounds"]::before {
    content: "Area: ";
}

.animate-view-zoom [data-type="point"]::before {
    content: "Place: ";
}

.custom-control {
  position: absolute;
  bottom: 1em;
  left: 1em;
  padding: .5rem .75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  background-color: #fefefe;
  color: #222;
  font-size: small;
}

.custom-control.mapboxgl-ctrl {
  position: relative;
}

.custom-control span:last-of-type {
  margin-right: .5rem;
}

@media (max-width: 429px) {
  .custom-control.lat-lng {
    max-width: 200px;
  }
}

#openlayers .ol-zoomslider {
  top: 1rem;
  left: 1rem;
  height: 250px;
  background-color: rgba(255,255,255,.8);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

#openlayers .annotation {
    background-color: #f6f6f6;
    border: 1px solid #060606;
    border-radius: 6px;
    color: #060606;
    font-size: 0.8rem;
    padding: 12px;
    position: relative;
}

#openlayers .close-annotation {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.overlayMapTypeControl {
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    padding: .5rem;
    background-color: #fff;
    position: relative;
    font-size: 0.8rem;
    width: 200px;
}

.overlayMapTypeControl input,
.overlayMapTypeControl label {
  vertical-align: middle;
  cursor: pointer;
}

.overlayMapTypeControl ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#bing-maps-api-map .overlayMapTypeControl {
    position: absolute;
    top: 10px;
    left: 10px;
}